.message {
  color: #000;
  font-size: 20;
  horizontal-align: center;
  padding:20;
}
.font-awesome {
    font-family: "FontAwesome";
}

.rotate-90 { 
  rotate:90deg
    }
.rotate-180 { 
  rotate:180deg
  }
.rotate-270 { 
  rotate:270deg
}

.flip-horizontal { flip:(-1, 1, 0)}
.flip-vertical   { flip:(1, -1, 2)}

#call{
  background-color: green;
}

#end{
  background-color: red;
}

#answer{
  background-color: green;
}